html,
body,
#app {
  height: 100%;
  margin: 0px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  background-color: seashell;
  border-top: 1px solid gray;
  border-left: 1px solid gray;


  &__header {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid gray;
  }

  &__row {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 16px;
    border-bottom: 1px solid gray;

    &__name {
      width: 140px;
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 1px solid gray;
    }

    &__cell {
      width: 100px;
      height: 100%;
      border-right: 1px solid gray;
      display: flex;
      align-items: center;
      padding-left: 20px;

      &__lowest {
        background-color: cornflowerblue;
        width: 100px;
        height: 100%;
        border-right: 1px solid gray;
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: white;
      }
    }
  }
}
